# .dockerignore for a Flutter app

# Exclude build output
/build/

# Exclude .dart_tool directory
.dart_tool/

# Exclude .idea directory
.idea/

# Exclude any local machine-specific or cache files
*.iml
*.lock
*.log
*.log.*
.vscode/
/.idea/
/.vs/
/.pub-cache/
